<div id="explore">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="blocks col-md-2">
					<a href="/users" class="block">
						<i class="fa fa-user"></i>
						<h3>Creatures</h3>
					</a>
				</div>
				<div class="blocks col-md-2">
					<a href="/tribes" class="block">
						<i class="fa fa-users"></i>
						<h3>Tribes</h3>
					</a>
				</div>
				<div class="blocks col-md-2">
					<a href="/main/artists" class="block">
						<span class="glyphicon glyphicon-music"></span>
						<h3>Artist/DJs</h3>
					</a>
				</div>
				<div class="blocks col-md-2">
					<a href="/main/stages" class="block">
						<i class="fa fa-university"></i>
						<h3>Stages</h3>
					</a>
				</div>
				<div class="blocks col-md-2">
					<a href="/main/map" class="block">
						<i class="fa fa-globe"></i>
						<h3>Map</h3>
					</a>
				</div>
				<div class="blocks col-md-2">
					<div class="block">
						<i class="fa fa-search"></i>
						<h3>Search</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="top-reps row">
			<% @top_reps.each do |rep| %>
				<a href="/users/<%= rep.id %>" class="item">
					<img src="<%= rep.avatar.to_s %>" />
					<div class="info">
						<div class="inner">
							<h4><%= rep.name %></h4>
							<p><i class="fa fa-star-o"></i><%= rep.reputation.round %></p>
						</div>
					</div>
				</a>
			<% end %>
		</div>
		<div class="search row">
			<div class="col-md-8 col-md-offset-2">
				<h3>Search Fabriq</h3>
				<input id="userauto" placeholder="Search for creatures, places, things">
				<div id="userresult"></div>
			</div>
		</div>
	</div>
</div>

<script>

$(document).ready(function() {

    var newArray = <%=raw @array %>

    $( "#userauto" ).autocomplete({
      source: newArray,
      appendTo: ("#userresult")
    }).data('ui-autocomplete')._renderItem = function(ul, item) {
        return $('<li></li>')
            .data('item.autocomplete', item)
            .append('<a href="/users/' + item[2] + '"><img width="50" src="' + item[1] + '" />' + item[0] + '<br></a>')
            .appendTo(ul);
    };

});

</script>