<div id="persona">
	<div class="container">
		<div class="row">
			<div class="heading col-md-8 col-md-offset-2">
				<% if @user == current_user %><h1>My Persona</h1><% else %><h1>About This Creature</h1><% end %>
			</div>
		</div>
		<div class="content row">
			<div class="col-md-2 col-md-offset-2">
				<% if @user.avatar.to_s == "" %>
					<img class="avatar" src="/assets/fabriq_avatar_bg.jpg" />
				<% else %>
					<img class="avatar" src="<%= @user.avatar.to_s %>" />
				<% end %>
				<% if @user == current_user %>
					<%= form_for(@user) do |f| %>
						<%= f.label "New Avatar" %>
						<%= f.file_field :avatar, :onchange =>"validateFiles(this);", class: "form-control" %>

						<%= f.submit "Update" %>
					<% end %>
				<% end %>

				<%= form_for(@user) do |thing| %>
					<%= thing.label "Edit type" %>
					<%= thing.text_field :usertype, class: "form-control" %>

					<%= thing.submit "Update" %>

					
				<% end %>

				<div class="rep">
					<% if @user.reputation.round > 50 %>
						<img width="30" src="/assets/star.jpg" />
					<% end %>
					<% if @user.reputation.round > 40 %>
						<img width="30" src="/assets/star.jpg" />
					<% end %>
					<% if @user.reputation.round > 30 %>
						<img width="30" src="/assets/star.jpg" />
					<% end %>
					<% if @user.reputation.round > 20 %>
						<img width="30" src="/assets/star.jpg" />
					<% end %>
					<p>
						<%= @user.reputation.round %>
					</p>
					<h4>My rep</h4>
				</div>
				<div class="tribe">
					<i class="fa fa-home"></i>
					<h4>My tribe</h4>
				</div>
			</div>
			<div class="col-md-5 col-md-offset-1">
				<h3><%= @user.name %></h3>
				<p>
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
				</p>
				<div class="button-container">
					<%= link_to "Beam 5", beamfive_user_path(@user), method: "put", class: "button save" %>
					<%= link_to "Beam 10", beamten_user_path(@user), method: "put", class: "button save" %>
					<%= link_to "Beam 15", beamfif_user_path(@user), method: "put", class: "button save" %>
				</div>
				<div class="row top-reps">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-12">
								<h3>Top reputations in my area</h3>
							</div>
						</div>
						<div class="row" style="margin-bottom:2em;">
							<div class="item col-sm-4">
								<img src="/assets/trailblazer.jpg" />
								<h4>Trailblazers</h4>
								<p>Lorem Ipsum</p>
							</div>
							<div class="item col-sm-4">
								<img src="/assets/trailblazer.jpg" />
								<h4>Stage X</h4>
								<p>Lorem Ipsum</p>
							</div>
							<div class="item col-sm-4">
								<img src="/assets/trailblazer.jpg" />
								<h4>Trailblazers</h4>
								<p>Lorem Ipsum</p>
							</div>
						</div>
						<div class="row">
							<div class="item col-sm-4">
								<img src="/assets/trailblazer.jpg" />
								<h4>Trailblazers</h4>
								<p>Lorem Ipsum</p>
							</div>
							<div class="item col-sm-4">
								<img src="/assets/trailblazer.jpg" />
								<h4>Trailblazers</h4>
								<p>Lorem Ipsum</p>
							</div>
							<div class="item col-sm-4">
								<img src="/assets/trailblazer.jpg" />
								<h4>Trailblazers</h4>
								<p>Lorem Ipsum</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content row">
			<div class="col-md-4 col-md-offset-2">
				<a class="invite" href="/main/invite">
					<h3>Invite</h3>
					<p>send 'reps' to cool people and stuff</p>
				</a>
			</div>
			<div class="col-md-4">
				<a href="/main/explore" class="explore">
					<h3>Explore</h3>
					<p>community awesomeness</p>
				</a>
			</div>
		</div>
	</div>
</div>