<!DOCTYPE html>
<html>
<head>
  <title>Fabriq</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

	<div id="header" class="landing">
		<div class="container">
			<div class="row">
				<a href="/main/home" class="logo">
					<img src="/assets/logo.png" />
					<h1>Fabriq</h1>
				</a>		
				<div class="admin-panel">
					<% if signed_in? %><a href="/users/<%= current_user.id %>">Hello, <%= current_user.name %></a><% end %>
					<a href="/main/explore">Explore</a>
					<a href="/main/about">About Fabriq</a>
					<a href="/main/invite">Invite Others</a>
					<% if signed_in? %>	        
					    <%= link_to "Log out", signout_path, method: "delete", class: 'login' %>
					<% else %>
						<a href="/signin" class="login">Log In</a>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	
	<%= yield %>

	<%= render 'layouts/footer' %>
	
</body>
</html>
